.body[b-zb34nduia2] {
  width: 900px;
  height: 600px;
  background-color: #2e2446eb;
  border-radius: 20px;
  color: white;
  padding: 35px;
  position: absolute;
  bottom: 50px;
}

.navHold[b-zb34nduia2] {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

nav[b-zb34nduia2] {
  cursor: pointer;
}

.sounds[b-zb34nduia2] {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.soundTile[b-zb34nduia2] {
  padding: 25px 42px;
  /* border: 2px solid white; */
}

.image[b-zb34nduia2] {
  font-size: 35px;
}
