<h3>Task</h3>
<body>
  <div class="taskHold">
    <div class="task"></div>
  </div>
</body>
@code {

  public class TaskProp {
    public int Id {get;set;} 
    public string task {get; set;} = "";
  }

}
