.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  flex: 1;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease-out;
  z-index: 1000;
}
.currentTask {
  font-size: 40px;
  font-weight: 500;
}

.pomoMode {
  display: flex;
  gap: 20px;
}

.focus,
.shortBreak,
.longBreak {
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  transition:
    background-color,
    ease-in-out 0.5s;
}

.focus:hover,
.shortBreak:hover,
.longBreak:hover {
  background-color: #9d3bff;
}

.active {
  background-color: #9d3bff;
}
.hold {
  position: relative;
  z-index: 1000;
}

.displayPomo {
  font-size: 170px;
}
