@using System.Text.Json
@inject HttpClient Http
<p>@currentQuote</p>

@code {

  private List<Quote> quotes = new ();
  private  string currentQuote = ""; 
  private int currentIndex = 0;

  @* public async Task JsonQuotes() {
    var json = await File.ReadAllTextAsync("wwwroot/data/quotes.json");
    quotes = JsonSerializer.Deserialize<List<Quote>>(json) ?? new();
  } *@



  protected override async Task OnInitializedAsync(){
    var data = await Http.GetFromJsonAsync<QuotesRes>("https://dummyjson.com/quotes");
    quotes = data?.quotes ?? new();

    var timer = new System.Threading.Timer(_ => {

    if(quotes.Count > 0) {
    currentIndex = (currentIndex +1) % quotes.Count;
    currentQuote = quotes[currentIndex].quote; 
    InvokeAsync(StateHasChanged);

    }
    },null,0,10000);

  }

public class QuotesRes {
  public List<Quote> quotes {get;set;} = new();
}

  public class Quote {
    public int id {get; set;}
    public string quote {get; set;} = "";
  }
}